.navcolor{
    /* background: #550191; */
    opacity: 1;
}
#navc{
    opacity: 0.8;
    background-image: linear-gradient( rgb(201, 196, 196) , rgb(51, 51, 48));
}
.content{
    background: #abacf0;
    height: 600px;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    /* background-color: #abacf0; */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
#slide{
    width: 1200px;
}
#id{
    border-radius: 10px;
    border-color: black;
}
.navcontent{
    opacity: 1;
}
.nav-item{
    padding: 5;
}
/* .slidephoto{
    height: 80%!important;
    width: ;
} */
.slidename{
    color: black;
}
.text-just{
    text-align: justify;
    text-justify: inter-word;
}
.para_font_size{
    font-size: 1.2em;
    font-family: zen_antiqueregular;
}
.grade{
    background-image: linear-gradient( white, rgb(172, 169, 169));
}
#header{
    position: fixed;
    width: 100%;
    z-index: 2;
}
#home{
    padding-top: 3em;
}
#ab{
    z-index: 1;
}
@font-face {
    font-family: 'zen_antiqueregular';
    src: url('zenantique-regular-webfont.woff2') format('woff2'),
         url('zenantique-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.section_name{
    font-family:abril_fatfaceregular ;
}
footer{
    background-image: linear-gradient( rgb(201, 196, 196) , rgb(51, 51, 48));
}
.nav-link{
    font-family:abril_fatfaceregular ;
}